<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <div class="user-edit">
        
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">性</th>
            <td class="table__col2"><%= @user.family_name %></td>
          </tr>
          <tr>
            <th class="table__col1">名</th>
            <td class="table__col2"><%= @user.first_name %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんのプロジェクト"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロジェクト投稿一覧を表示する %>
        <%= "部分テンプレート" %>
      </div>
    </div>
  </div>
</div>