<div class="card">
  <div class="title">
    <h1><%= project.title %></h1>
    <div class="edit-btn">
      <%= link_to "メンバーの追加", edit_project_path(project.id) %>
    </div>
  </div>
  <%= link_to project_path(project.id) do %>  
  <div class="cover">
    <div class="task-index">
      <div class="task-name tag">
        <%= "タスク" %>
      </div>
      <div class="person-in-charge tag">
        <%= "担当者" %>
      </div>
      <div class="plan tag">
        <%= "計画" %>
      </div>
      <div class="completion_date tag">
        <%= "完了"%>
      </div>
    </div>
    <% project.tasks.each do |task| %>
      <div class="task-index">
        <div class="task-name">
          <%= task.task_name %>
        </div>
        <div class="person-in-charge">
          <%= task.person_in_charge %>
        </div>
        <% if task.plan.present? %>
          <div class="plan">
            <%= task.plan.strftime('%m/%d') %>
          </div>
        <% else %>
          <div class="plan">
            <%= task.plan %>
          </div>
        <% end %>
        <% if task.completion_date.present? %>
          <div class="completion_date">
            <%= task.completion_date.strftime('%m/%d') %>
          </div>
        <% else %>
          <div class="completion_date">
            <%= task.completion_date %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
