<div class='project-form'>
  <h1>新規プロジェクト</h1>
  <%=form_with model: @project, local: true do |f|%>
    <div class='project-form__field'>
      <div class='project-form__field--left'>
        <%= f.label :プロジェクト名, class: 'project-form__label'%>
      </div>
      <div class='project-form__field--right'>
        <%= f.text_field :title, class: 'project__room_name project-form__input', placeholder: 'プロジェクト名を入力してください'%>
      </div>
    </div>
    <div class='project-form__field'>
    </div>
    <div class='project-form__field'>
      <div class='project-form__field--left'>
        <label class='project-form__label' for='chat_room_チャットメンバー'>プロジェクトメンバー</label>
      </div>
      <div class='project-form__field--right'>
        <select name="project[user_ids][]">
          <option value="">プロジェクトに参加するユーザーを選択してください</option>
          <% User.all.where.not(id: current_user.id).each do |user| %>
            <option value=<%=user.id%>><%=user.nickname%></option>
          <% end %>
        </select>
        <input name="project[user_ids][]" type="hidden" value=<%=current_user.id%>>
      </div>
    </div>
    <div class='project-form__field'>
      <div class='project-form__field--left'></div>
      <div class='project-form__field--right'>
        <%= f.submit class: 'project-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
