<div class="wrapper">
  <%= render partial: "header"%>
  <div class="main">
    <div class="inner">
      <div class="project-title">
        <h1 class="page-heading"><%= @project.title %>の詳細</h1>
        <div class='operation-btn'>
          <div class="edit-btn">
            <%= link_to "メンバーの追加", edit_project_path(@project) %>
          </div>
          <div class="delete-btn">
            <%= link_to "プロジェクトの終了", project_path(@project), method: :delete %>
          </div>
        </div>
        <div class="task-cover">
          <%= form_with(model: [@project, @task], local: true) do |f| %>
            <div class="task-form">
              <div class='task_field'>
                <%= f.label :task_name, "タスク名" %><br />
                <%= f.text_field :task_name %>
              </div>
              <div class='担当者'>
                <%= f.label :person_in_charge, "" %><br />
                <%= f.text_field :person_in_charge %>
              </div>
              <div class='plan_field'>
                <%= f.label :plan, "完了予定日" %><br />
                <%= f.date_field :plan %>
              </div>
              <div class='deadline_field'>
                <%= f.label :completion_date, "期限" %><br />
                <%= f.date_field :completion_date %>
              </div>
              <div class="actions">
                <%= f.submit "タスクを作成する", class: :form__btn  %>
              </div>
            </div>
          <% end %>
        </div>
        <div class='schedule-wrapper'>
          <div class="tax-main">
            <div class="task-index">
              <div class="task-name">
                <%= "タスク" %>
              </div>
              <div class="person-in-charge">
                <%= "担当者" %>
              </div>
              <div class="plan">
                <%= "計画" %>
              </div>
              <div class="completion_date">
                <%= "完了"%>
              </div>
              <div class="task-edit">
                <%= "編集ボタン" %>
              </div>
            </div>
            <%= render partial: 'task', collection: @tasks, as: :task %>
          </div>
          <div class='schedule-main'>
            <div class=calendar>
              <% @week_days.each do |day| %>
                <div class='item'>
                  <div class='plan'>
                    <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
                  </div>
                  <% if day[:plans].length != 0 %>
                    <% day[:plans].each do |plan| %>
                      <div class='plan'><%= plan %></div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>