<div class="wrapper">
  <%= render partial: "shared/header"%>
  <div class="main">
    <div class="inner">
      <div class="project-title">
        <h1 class="page-heading"><%= @project.title %>の詳細</h1>
        <div class='operation-btn'>
          <div class="edit-btn">
            <%= link_to "メンバーの編集", edit_project_path(@project) %>
          </div>
          <div class="delete-btn">
            <%= link_to "プロジェクトの終了", project_path(@project), method: :delete, data: { confirm: "プロジェクトを終了しますか？" } %>
          </div>
        </div>
      </div>
        <%= form_with(model: [@project, @task], local: true) do |f| %>
          <div class="task-cover">
            <div class="task-field">
              <div class='task-field-label'>
                <%= f.label :task_name, "タスク名" %>
              </div>
              <div class='task-field-input'>
                <%= f.text_field :task_name, class: "task-input" %>
              </div>
            </div>
            <div class="task-field">
              <div class='person-in-charge-field-label'>
                <%= f.label :person_in_charge, "担当者" %>
              </div>
              <div class='person-in-charge-field-input'>
                <%= f.text_field :person_in_charge, class: "person-in-charge-input" %>
              </div>
            </div>
            <div class="task-field">
              <div class='plan-field-label'>
                <%= f.label :plan, "計画" %>
              </div>
              <div class='plan-field-input'>
                <%= f.date_field :plan, class: "plan-input" %>
              </div>
            </div>
            <div class="task-field">
              <div class='completion-date-label'>
                <%= f.label :completion_date, "完了" %>
              </div>
              <div class='completion-date-input'>
                <%= f.date_field :completion_date, class: "completion-date-input" %>
              </div>
            </div>
            <div class="actions">
              <%= f.submit "タスクを作成する", class: :form__btn  %>
            </div>
          </div>
        <% end %>
        <div class='schedule-wrapper'>
          <div class="tax-main">
            <div class="task-index">
              <div class="task-name tag">
                <%= "タスク" %>
              </div>
              <div class="person-in-charge tag">
                <%= "担当者" %>
              </div>
              <div class="plan tag">
                <%= "計画" %>
              </div>
              <div class="completion_date tag">
                <%= "完了"%>
              </div>
              <div class="task-edit tag">
                <%= "" %>
              </div>
            </div>
            <%= render partial: 'shared/task', collection: @tasks, as: :task %>
          </div>
          <div class='schedule-main'>
            <div class=calendar>
              <% @week_days.each do |day| %>
                <div class='item'>
                  <div class='plan tag'>
                    <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
                  </div>
                  <% if day[:plans].length != 0 %>
                    <% day[:plans].each do |plan| %>
                      <div class='plan'><%= plan %></div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>